* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #edeeed;
}
.drops {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drops .drop {
  position: absolute;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 45% 55% 35% 65% / 38% 40% 60% 62%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}
.drops .drop::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 35px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 42% 58% 44% 56% / 28% 45% 55% 72%;
}
.drops .drop::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 65px;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 34% 66% 33% 67% / 53% 39% 61% 47%;
}

.drops .drop:nth-child(2) {
  transform: scale(0.5) translate(-200px, 180px);
  border-radius: 63% 37% 28% 72% / 38% 47% 53% 62%;
}

.drops .drop:nth-child(3) {
  transform: scale(0.5) translate(280px, 10px);
  border-radius: 44% 56% 74% 26% / 38% 63% 37% 62%;
}
.drops .drop:nth-child(4) {
  transform: scale(0.35) translate(120px, -310px);
  border-radius: 59% 41% 25% 75% / 49% 37% 63% 51%;
}
